{{- if and .Values.backup.enabled (eq .Values.backup.target "s3ops") }}
apiVersion: s3.odit.services/v1alpha1
kind: S3Bucket
metadata:
  name: {{ include "directus.backupbucket.name" . }}
spec:
  serverRef:
    name: {{ .Values.backup.s3ops.serverRef.name }}
    namespace: {{ .Values.backup.s3ops.serverRef.namespace }}
  region: {{ .Values.backup.s3ops.region | default "backup" }}
  createUserFromTemplate: readwrite
  softDelete: true
{{- end}}